$cor-primary: #212529;
$cor-secondary: #1B5478;
$cor-gold: #E4A14A;
$cor-fantasma:#191c1f;
$branco: #fff;
$preto: #000;
$text-hover: #e0d3c1;


// Cores
$primary: #F37335;
$secondary: #FAAA77;
$background: #F9F8F8;
$title: #000;
$text: #8E8FA1;
$purple: #4970BF;
$blue: #3078BB;
$pink: #FF6F80;
$gray: #EBEBEB;
